<div class="form_title">
  <h3>プロフィールを編集</h3>
</div>
<%= form_with(model: @user, local: true)do |f| %>
  <div class="icon_image">
    <% if @user.icon_image? %>
      <%= image_tag @user.icon_image.icon.url %>
    <% else %>
      <%= image_tag "default_icon.jpg", size: '100x100' %>
    <% end %>
  </div>
  <div class="form_title">
    <h3>アイコンを変更</h3>
  </div>
  <div class="icon_form">
    <%= f.file_field :icon_image %>
  </div>
  <div class="form_title">
    <h3>名前を編集</h3>
  </div>
  <div class="user_edit_form">
    <%= f.text_field :name %>
  </div>
  <div class="form_title">
    <h3>自己紹介を編集</h3>
  </div>
  <div class="user_edit_form">
    <%= f.text_area :self_introduction, placeholder: '自己紹介を入力してください' %>
  </div>
  <div class="form_title">
    <h3>メールアドレスの変更</h3>
  </div>
  <div class="user_edit_form">
    <%= f.email_field :email, value: @user.email %>
  </div>
  <div class="form_title">
    <h3>パスワードの変更</h3>
  </div>
  <div class="user_edit_form">
    <%= f.password_field :password %>
  </div>
  <div class="form_title">
    <h3>パスワードの確認</h3>
  </div>
  <div class="user_edit_form">
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="user_edit_btn">
    <%= f.submit '編集' %>
  </div>
<% end %>
