<div class="container pageheader">
  <div class="row">
    <div class="col-md-12">
      <div class="pageheader-content">
        <div class="pageheader-left">
          <div class="usericon">
            <% if @user.icon_image? %>
              <%= image_tag @user.icon_image.icon.url, class: "bigicon" %>
            <% else %>
              <%= image_tag "default_icon.jpg", size: '150x150', class: "bigicon" %>
            <% end %>
          </div>
          <div class="username">
            <p><%= @user.name %></p>
          </div>
        </div>
        <div class="pageheader-right">
          <% if @user.id == current_user.id %>
            <span class="inline-link link-btn" data-mfp-src="#inline-popup">ユーザー編集</span>
            <div id="inline-popup" class="mfp-hide">
              <%= render template: "users/edit" %>
              <div class="mfp-close"></div>
            </div>
            <%= link_to 'ログアウト', session_path(@user.id), class: 'link-btn',
                method: :delete, data: { confirm: 'ログアウトしてよろしいですか？'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render template: "pictures/new" if @user.id == current_user.id %>
<% @user.pictures.order(created_at: :desc).each do |picture| %>
  <div class="card border-dark mb-3" style="max-width: 30rem;">
    <div class="card-header">
      <% if @user.icon_image? %>
        <%= image_tag @user.icon_image.mini_icon.url, class: "icon" %>
      <% else %>
        <%= image_tag "default_icon.jpg", size: '40x40', class: "icon" %>
      <% end %>
      <%= link_to picture.user.name, user_path(picture.user.id) %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= picture.content %></p>
      <div class="post_content border-bottom">
        <% if picture.image? %>
          <%= image_tag picture.image.url, class: "post_img" %>
        <% end %>
      </div>
      <% if picture.user_id == current_user.id %>
        <%= link_to '編集', edit_picture_path(picture.id), class: "card-link" %>
        <%= link_to '削除', picture_path(picture.id), class: "card-link",  method: :delete, data: {confirm: '本当に削除してもよろしいですか？'} %>
      <% end %>
    </div>
  </div>
<% end %>
