<h1><%= @user.name %>のページ</h1>
<% if @user.icon_image? %>
  <%= image_tag @user.icon_image.icon.url %>
<% else %>
  <%= image_tag "default_icon.jpg", size: '100x100' %>
<% end %>
<%= link_to 'ユーザー編集', edit_user_path(@user.id) %>
<%= link_to 'ログアウト', session_path(@user.id),
    method: :delete, data: { confirm: 'ログアウトしてよろしいですか？'} %>
<h3>投稿一覧</h3>
<% current_user.pictures.each do |picture| %>
  <div class="post">
    <div class="post_content">
      <%= picture.content %>
    </div>
    <div class="post_content">
      <% if picture.image? %>
        <%= image_tag picture.image.post.url%>
      <% end %>
    </div>
    <%= link_to '編集', edit_picture_path(picture.id) %>
    <%= link_to '削除', picture_path(picture.id), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'} %>
  </div>
<% end %>
<div id="wrapper">
  <span class="inline-link" data-mfp-src="#inline-popup">popupユーザー編集</span>
</div>
<div id="inline-popup" class="mfp-hide">
  <%= render template: "users/edit" %>
  <div class="mfp-close">閉じる</div>
</div>

<%= link_to '新規作成', new_picture_path %>
