<div class="main container">
  <%= form_with(model: @picture, local:true, url: choose_confirm) do |f| %>
    <% if @picture.errors.any? %>
      <div id="error_explanation">
        <h2>エラーがあります</h2>
      </div>
    <% end %>
    <div class="mini_icon_image">
      <% if @picture.user.icon_image? %>
        <%= image_tag @picture.user.icon_image.mini_icon.url %>
      <% else %>
        <%= image_tag "default_icon.jpg", size: '40x40' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :content, 'コメント', class: "control-label" %>
      <%= f.text_area :content, placeholder: '気持ちをシェアしよう！', class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image, '写真をえらぶ', class: "control-label" %>
      <%= f.file_field :image, class: "form-control" %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="sign_up_btn">
      <%= f.submit '投稿' %>
    </div>
  <% end %>
</div>
