<%= form_with(model: @picture, local:true, url: choose_confirm) do |f| %>
  <div class="main container">
    <div class="mini-icon-image">
      <% if @picture.user.icon_image? %>
        <%= image_tag @picture.user.icon_image.mini_icon.url, class: "icon"%>
      <% else %>
        <%= image_tag "default_icon.jpg", size: '40x40', class: "icon" %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :content, 'コメント', class: "control-label" %>
      <%= f.text_area :content, placeholder: '気持ちをシェアしよう！', class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image, '写真をえらぶ', class: "control-label" %>
      <div class="custom-file">
        <%= f.file_field :image, class: "form-control file custom-file-input" %>
        <label class="custom-file-label" for="inputFile" data-browse="参照" >ファイルを選択(ここにドロップすることもできます)</label>
        <%= f.hidden_field :image_cache %>
      </div>
    </div>
    <div class="submit">
      <%= link_to 'マイページに戻る', user_path(@picture.user.id), class: "btn btn-outline-info" %>
      <%= f.submit '投稿', class: "btn btn-outline-info" %>
    </div>
  </div>
<% end %>
