<% if logged_in? %>
  <% @picture.order(created_at: :desc).limit(15).each do |picture| %>
    <div class="card border-dark mb-3" style="max-width: 30rem;">
      <div class="card-header">
        <% if @user.icon_image? %>
          <%= image_tag @user.icon_image.mini_icon.url, class: "icon" %>
        <% else %>
          <%= image_tag "default_icon.jpg", size: '40x40', class: "icon" %>
        <% end %>
        <%= link_to picture.user.name, user_path(picture.user.id) %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= picture.content %></p>
        <div class="post_content border-bottom">
          <% if picture.image? %>
            <%= image_tag picture.image.url, class: "post_img" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render template: "users/new" %>
<% end %>
